*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, serif;
    color: white;

    font-weight: lighter;
}


#hero{
    font-size: 0.9rem;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
canvas{
    background-color: #0c0c0c;
}

body{
    scrollbar-width: thin;
    image-rendering: optimizeSpeed;
    background-color: #373434;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
#input {
    position: absolute;
    bottom: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.input-divs{
    width: 180px;
    padding: 2px;
    height: 70px;
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    justify-content: center;
}
input{
    width: 120px;
    background-color: transparent;
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    text-align: center;
    margin-top: 4px;
}
button{
    border: 0.5px solid rgba(255, 255, 255, 0.2);
    height:20px ;
    width: 80px;
    background-color: transparent;
}

input:hover, button:hover {
    border: 0.5px solid rgba(255, 255, 255, 0.41);
}

#strict-inputs, #live-inputs{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.18);
    padding-left:10px ;
    padding-right:10px ;
    height: 60px;
    border-radius: 4px;
    margin-right: 20px;
}

#info, #dynamic{
    position: absolute;
    top: -30%;
    right: 0;
    color: gray;
}

#genetic-simulation{
    background-image: url("images/dna.jpg");
    background-size: cover;
    padding-left: 20%;
    padding-right: 20%;

}


#text{
    padding: 90px;
    background-color: rgba(0, 0, 0, 0.68);
    padding-top: 5%;
    gap: 30px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10%;
}
li{
    padding-top: 20px;
}

h3{
    color: #1affa5;
}
#color-button{
    height: 60px;
}
